%meta(http-equiv="refresh" content="10;url=/my/index")

%div(style="padding:20px")
  10秒钟后自动跳转到
  = link_to '个人页面', :controller => 'my', :action => 'index'
  您还可以：
  %ol
    %li= link_to '去小组列表页面看看有哪些感兴趣的小组', groups_path, :target => '_blank'
    %li= link_to '去新人报道小组自曝吧', '/non', :target => '_blank'
    %li= link_to '完善一下自己的个人信息', edit_user_path(current_user), :target => '_blank'
    %li= link_to '看看一些常见问题', '/faq', :target => '_blank'
