- content_for :title, '最热待读文章'
= render 'sub_nav'
-if topics.size == 0
  .topics-list
  .recomment-groups
    您目前没有待读文章，去
    = link_to "小组导航", groups_path
    看看吧
  -#
    %br
    比较受欢迎的小组有：
    .groups-list
      .channel.cf
        .channel-groups
          = render Group.page(params[:page]).order("feature DESC , score DESC").limit(15)
-else
  .topics-list
    - @items.each do |item|
      - topic = @id2topic[item.topic_id]
      - next unless topic
      - @group = topic.group
      - @comments = nil
      - unless item.post_ids.blank?
        - @comments = topic.comments.find_all_by_id(item.post_ids)
      = render :partial => 'my/topic', :object => topic, :locals => {:comments => @comments}
      /
        = item.score
        = item.read
  %a.more-item{:href=>"#"}
    还有
    %span.value= @item_ids.blank? ? 0 : @item_ids.size
    条, 如果想看新的热度排名，请刷新页面（F5）

- content_for :javascripts do
  :javascript
    var items = window.items = #{Array(@item_ids).to_json};
