- content_for :title, '未读'
- content_for :title, '最新' if action_name == 'latest'
- content_for :breadcrumbs do
  = link_to current_user.login, current_user
  = '/'
  未读文章
-if topics.size == 0
  您目前没有任何待读文章，去
  = link_to "小组导航", groups_path
  看看吧
  %br
  比较受欢迎的小组有：
  %br
  - Group.page(params[:page]).order_by(feature: 'DESC', score: 'DESC').limit(15).each do |g|
    = link_to g.name, g
    %br
-else
  .articles-list
    - @items.each do |item|
      - next unless item.topic
      - unless item.post_ids.blank?
        - comments = item.article.comments.find_all_by_id(item.post_ids)
        = render :partial => 'my/topic', :object => item.article, :locals => {:comments => comments}
      - else
        = render :partial => 'my/topic', :object => item.article
  = link_to "上一页", :page => @current_page - 1 if @current_page > 1
  = link_to "下一页(还有#{@rest_count})", :page => @current_page + 1 if @rest_count > 0
