%h2= content_for :title, '我围观的帖子'


- if current_user.subscriptions.count == 0
  您没有关注任何帖子呢，快去看看吧
- else
  %p
    = link_to_unless params[:filter].blank?, "有更新的帖子#{@updated_subscriptions_count}", :controller => :my, :action => :watched
    = link_to_unless params[:filter] == 'all', "所有帖子#{@all_subscriptions_count}", :controller => :my, :action => :watched, :filter => :all
  - if @subscriptions.size == 0
    目前没有帖子有更新
  - else
    - @subscriptions.each do |sub|
      - article = sub.publication
      - next unless article
      .subscription
        - floor = article.posts.size - sub.unread_count - 1
        .title= link_to article_title(article), article_path(article.group, article, :anchor => (floor > 0 ? "floor-#{floor}" : nil)), :target => '_blank'
        = link_to_unless article.anonymous, article_author(article), article.user
        = link_to article.group.name, article.group
        = article.created_at.strftime("%y-%m-%d %H:%M")
        %div
          = "#{sub.unread_count}"
          条未读回复
      %hr

  = paginate @subscriptions
- content_for :sidebar do
  = render :partial => 'users/sidebar'

