%h2= content_for :title, '我围观的帖子'


- if current_user.subscriptions.count == 0
  您没有关注任何帖子呢，快去看看吧
- else
  %p
    = link_to_unless params[:filter].blank?, "有更新的帖子#{@updated_subscriptions_count}", :controller => :my, :action => :watched
    = link_to_unless params[:filter] == 'all', "所有帖子#{@all_subscriptions_count}", :controller => :my, :action => :watched, :filter => :all
  - if @subscriptions.size == 0
    目前没有帖子有更新
  - else
    %table.topics-table(width='100%')
      %thead
        %th 回复数
        %th 标题
        %th 小组
        %th 作者
        %th 最后更新时间
        /%th 最后回复人
      %tbody
        - @subscriptions.each do |sub|
          - topic = sub.publication
          - next unless topic
          %tr[topic]
            %td(nowrap='nowrap')= "#{sub.unread_count} / #{topic.posts.size - 1}"
            - floor = topic.posts.size - sub.unread_count - 1
            %td= link_to topic_title(topic), topic_path(topic.group, topic, :anchor => (floor > 0 ? "floor-#{floor}" : nil)), :target => '_blank'
            %td= link_to topic.group.name, topic.group
            %td= link_to_unless topic.anonymous, topic_author(topic), topic.user

            %td= topic.created_at.strftime("%y-%m-%d %H:%M")
  = paginate @subscriptions
- content_for :sidebar do
  = render 'users/sidebar'
