= jqm_header do
  = jqm_back_link_to @group, '返回'
  %h1= @group.name
  = link_to '发表文章', [:new, @group, :article], data: {rel: 'dialog', icon: 'plus', iconpos: 'notext'}
%div(data-role='content')
  - @articles = @group.public_articles.latest.page params[:page]
  .articles-list
    = render @articles
  = paginate @articles

