= jqm_header do
  = jqm_back_link_to @group, '返回'
  %h1= @group.name
  = link_to '发表文章', [:new, @group, :topic], data: {rel: 'dialog', icon: 'plus', iconpos: 'notext'}
%div(data-role='content')
  - topics = @group.public_topics.latest.page params[:page]
  .articles-list
    = render topics
  = paginate topics

