%div[comment]{:class => [cycle('even', 'odd'), is_mine_class(comment),read_status_class(comment)]}
  - if comment.status == 'deleted'
    已被删除
  - else
    %span.floor
      ="#{comment.floor}: "
    %span.author
      - if comment.anonymous
        匿名人士
      - else
        = link_to comment.user.name, user_path(comment.user) if comment.user

    - s = comment.score.to_i
    - if s != 0
      %span.score{:class => s > 0 ? 'pos' : 'neg'}= s > 0 ? "+#{s}" : s
    %span.time= time_ago_in_words comment.created_at if comment.created_at
    %a.reply{:href=> new_group_article_comment_path(comment.group||comment.topic.group,comment.topic, :parent_id=>comment.floor)} 回复
    .body= render_posts comment
