-if @show_user_sidebar
  .avatar= image_tag @user.avatar(:medium),:alt=>"#{@user.name_or_login}"
  %p= @user.name
  %p= "(@#{@user.login})"
  - unless @user.id==0
    %p
      注册时间:
      = @user.created_at.strftime("%Y-%m-%d")
  %p
    文章数:
    = @user.articles.size
  - if @user.badges.size > 0
    %p
      勋章：
      -@user.badges.each do |badge|
        =link_to badge.title , badge_path(badge)
  %ul
    - if logged_in?
      - unless current_user == @user
        %li
          = link_to "TA关注的人(#{@user.followers.count})", followers_user_path(@user)
        %li
          = link_to "关注TA的人(#{@user.followings.count})", followings_user_path(@user)
        %li
          - if current_user.following?(@user)
            = link_to "取消关注", unfollow_user_path(@user),:class=>"unfollow"
          - else
            = link_to "关注", follow_user_path(@user) ,:class=>"follow"
      %li#send_message= link_to "传纸条", new_message_path(:id=>@user.id)

  - if current_user == @user

    %p= link_to "修改头像/邮箱", edit_user_path(@user)
    %p= link_to "修改密码", [:edit, @user, :password]
    %p= link_to "我关注的人(#{current_user.followers.count})", followers_user_path(current_user)
    %p= link_to "关注我的人(#{current_user.followings.count})", followings_user_path(current_user)
  %ul.badges
    - @user.badges.each do |badge|
      %li= link_to image_tag(badge.icon.medium.url, :alt => badge.title), user_badges_path(@user)
  #groups
    - if @user.articles.size > 0
      按照日期查看此人帖子：
      =calendar_options_for_user(@user)
    = render "/widgets/user_search"
    %h2 按照小组察看此人帖子
    -#- cache [:group_list, @user.login], :expires_in => 1.hour do
    %ul.my-groups-lists
      - @user.memberships.each do |m|
        - if m.group and !m.group.private
          %li
            - rep = @user.reputation_in(m.group)
            %abbr{:class => rep.level}
              = t rep.level,:scope=>"reputations"
              =link_to "(#{rep.value})", user_group_reputation_logs_path(@user,m.group),:class =>"#{rep.level} poshytip",:title=>"距离升级还差"+Reputation.num_for_next_lever(rep.value).to_s+"分",:data=>{:poshytiptext=>"距离升级还差"+Reputation.num_for_next_lever(rep.value).to_s+"分"}
            |&nbsp;
            = link_to m.group.name, user_group_articles_path(@user,m.group)

  = yield :sidebar
  = link_to t('users.dislike'), dislike_user_path(@user), :method => :post ,:confirm=>" !!! dislike此人后，此人的文章将不会再出现在您的个人页面 !!!" if logged_in? and !current_user.disliked?(@user)
  = link_to t('users.cancel_dislike'), cancel_dislike_user_path(@user), :method => :post if logged_in? and current_user.disliked?(@user)
-elsif  @group && action_name == "index"
  = render "/groups/sidebar"
