=# f = comment.floor || (comment_counter + 1)  %>
- f = comment.floor #comment_counter + 1
- t = comment.total_score
- user = comment.user
- anon = comment.anonymous or comment.user_id == 0 or (not user) or user.deleted?
=#comment.floor
%li.comment.cf.post{:id => "post_#{comment.id}",
              :class => [comment.class_names, is_mine_class(comment),
                          cycle('odd', 'even'), read_status_class(comment), user.class_names],
              :data  => {:user_id => comment.anonymous ? '' : comment.user_id,
                          :parent_id => comment.parent_id,
                          :floor  => f,
                          :date   => comment.created_at.strftime('%Y-%m-%d %H:%M:%S')}}
  -#%a{:name=>"floor-#{comment.floor}"}
  - if comment.status == 'deleted'
    已被删除
  - else
    = render 'posts/votecell', {:post => comment}
    = image_tag anon ? '/images/anonymous.png' : user.avatar.url("small"), :alt => "#{user.name_or_login}", :class => 'avatar photo'

    -#%a.report(href="javascript:showReport(#{comment.id})" title="") 举报

    %div.name
      - if anon
        %span.nickname.anonymous
          匿名人士
      - else
        %span.nickname= link_to h(user.name), user, :target => '_blank',:class=>"user",:data => {:login => user.login}
        %span.identity= link_to h("@#{user.login}"), user, :target => '_blank',:class=>"user",:data => {:login => user.login}

    -if comment.parent_floor.to_i != 0
      %a.in-reply-to{:href=>"#floor-#{comment.parent_floor}"}
        →
        ="#{comment.parent_floor}L"

    %span.floor=f
    %div.operator
      %a.reply{:href=>"javascript:replyComment('#{comment.id}',#{comment.article_id},#{f})",:data=>{:floor=>"#{comment.floor}"}}
        = typicon 'arrow-back'
        回复
      - if logged_in?
        = link_to repost_form_path(:post_id => comment.id), :class => 'repost' do
          = typicon 'export'
          = t('posts.repost')
      - if logged_in? and (current_user == comment.user or current_user.is_admin?)
        =link_to post_path(comment), :method => :delete, :remote => true, :data => {:confirm => '确定要删除吗?'} do
          = typicon 'trash'
          = t('posts.destroy')

    %span.date=comment.created_at.strftime('%Y-%m-%d %H:%M:%S')
    %div.body= render_posts comment
