- comment=comment_score

%span[comment, :score]
  %span= comment.score
  = link_to("顶", "javascript:comment_vote(#{comment.id},1)", :class => 'login')
  = link_to("拍", "javascript:comment_vote(#{comment.id},-1)", :class => 'login')


.midcol.unvoted
  .arrow.up
  .score.dislikes 246
  .score.unvoted 247
  .score.likes 248
  .arrow.down
