- @group ||= @article.group
- if logged_in? or @group.options.guest_can_reply
  .avatar
    - if logged_in?
      = image_tag current_user.avatar.thumb.url, alt: "#{current_user.name_or_login}"
      .name= current_user.name

  =# link_to 'Not me?', logout_path
  - if @group.options.only_member_can_reply and (logged_in? and !current_user.is_member_of?(@article.group))
    = link_to '加入小组发表评论', join_group_path(@article.group), method: :post, class: "join_group"
  - else
    - unless logged_in?
      您目前是游客身份，请
      = link_to '登录', login_path
    = semantic_form_for((@post || @article.comments.new), url: [@group, @article, :comments], html:{multipart: true}) do |f|
      = hidden_field_tag "from_xhr"
      = f.inputs do
        = f.input :parent_id, as: :hidden
        #faceTitle
        = f.input :content, as: :text, input_html: {rows: 2,placeholder:"按 Ctrl+Enter 快速发表"}
        = f.action :submit, label: '回复', button_html: {data:{disable_with: '...'}}
        - if logged_in?
          - if current_user.own_article?(@article) and @article.anonymous?
            = f.input :anonymous, as: :boolean, input_html: {checked: "checked" }
          -else
            = f.input :anonymous, as: :boolean
        = f.input :picture, as: :file, label: '图片' if logged_in?
      - if logged_in?
        - unless (current_user.has_rewarded(@article.top_post) || current_user.own_article?(@article))
          %label.reward
            打赏积分(每个帖子只能打赏一次)：
            %input(type='text' name='reward')
- else
  = render 'comments/login_to_reply'
