- if @comments.size > 0 and logged_in? and !params[:read]
  = cache [:collapse_wap, current_user.id, @article.id], :expires_in => 1.minute do
    - if (read_to = current_user.has_read_article?(@article)) && read_to > 0
      %p><
        = "已经折叠了#{read_to}个已读评论"
        - @comments = @comments[read_to..-1]
        %a{:href=> url_for('read' =>'full'),:class=>"show_readed manage_readed"} 查看所有
    = render_comments @comments
- else
  = render_comments @comments

- if logged_in? or @group.preferred_guest_can_reply?
  %br>
  - unless @article.closed?
    = comment_form
  - else
    禁止评论
-else
  = link_to "登录后评论",login_path
