- content_for :title, "#{@article.id}的评论" rescue nil
= link_to "< 返回文章#{@article.id}", [@article.group, @article ]
=# paginate @comments
= render 'comments/index'
= link_to "< 返回文章#{@article.id}", [@article.group, @article ]
