= link_to topic_title(topic), group_topic_path(topic.group,topic)
= br
回复
-unless @parent.top?
  =@parent.floor
  ="L:"
- if @parent.anonymous or @parent.user_id == 0 or @parent.user.blank?
  匿名人士
- else
  =link_to @parent.user.name_or_login, user_path(@parent.user)
= "的评论:" unless @parent.top?

= render_posts @parent

= render 'form'
