= render 'topics/form'
= render 'topics/hottest_nav'

- if @limit
  - content_for :title, sprintf("浏览%s中最热的帖子", t("topics.#{@limit}"))
- if topics.num_pages == 0
  - if @limit
    .empty-list
      = t("topics.#{@limit}")
      尚无帖子
      - if @next_limit
        = link_to sprintf("浏览%s中最热的帖子", t("topics.#{@next_limit}")), :limit => @next_limit
        或
        = link_to "发表自己的帖子", :action => :new
      - else
        目前尚无帖子
- else
  .topic-list.hfeed
    = render(:partial => topics.reject{|a|a.top_post.nil?})
  = paginate topics
  - if @limit && @next_limit && topics.num_pages == topics.current_page && topics.num_pages > 0
    .empty-list
      您已看完了
      = t("topics.#{@limit}")
      中最热的所有帖子，请继续
      = link_to sprintf("浏览%s中最热的帖子", t("topics.#{@next_limit}")), :limit => @next_limit