%h1
  = @badge.new_record? ? 'New' : 'Edit'
  badge

= simple_form_for([:admin, @badge], :html => {:multipart => true }) do |f|
  = f.input :name
  = f.input :title
  = f.input :description
  = f.input :icon
  = f.button :submit
