- id = article.id
- user = article.original_user

.entry.article{"data-article_id" => id, :id => "entity#{id}"}
  .entry_bar
    .entry_bar_left{:style => "float:left;height:28px;line-height:28px"}
      = check_box_tag('id[]', article.id.to_s, false, :id => 'id' + article.id.to_s, :class => 'entry-id') if defined?(checkbox)
      = article.group.name
      \##{link_to article.id, article_path(article.group, article)}
      = link_to edit_admin_article_path(article) do
        %i.icon-edit>
        编辑
      - if article.status == 'publish'
        = article.pos_score
        \/  #{article.neg_score}
      - if !article.anonymous && article.user_id and article.user_id > 0
        = link_to user.name_or_login, [:admin, user], :title => user.login if user
    .entry_bar_right{:style => "float:right"}
      .status-edit
        - if article.status == 'publish'
          %a.btn.disabled{:href => "#"} 通过
        - else
          = link_to "通过", set_status_admin_article_path(article, :status => 'publish'), :class => 'btn btn-primary'
        - if article.status == 'private'
          %a.btn.disabled{:href => "#"} 删除
        - else
          = link_to "删除", set_status_admin_article_path(article,  :status => 'private'), :class => 'btn btn-danger'
    %div{:style => "clear:both"}
  .entity_text{:style => "clear:both;margin-top:10px"}
    %h2= link_to article.title, edit_admin_article_path(article) if article.title
    = render_posts article.top_post
    .other
      %div{:style => "float: right; color:#666; font-size:12px"}= article.created_at.strftime("%Y-%m-%d %H:%M:%S")
      %div{:style => "color:#006600;padding-top:8px"}
        %i.icon-tags
        %b
          标签：
          %span{:id => "entity_rtags#{article.id}", :style => "color:#009966"}= article.tag_line
      - if article.comments.count > 0 and article.status != 'pending'
        - link_to [:admin, article, :comments], :class => 'btn comments-toggle' do
          = article.comments.count
          条评论
  %table{:id => "tickets-#{article.id}"}
