-# coding: utf-8
- if params[:term]
  %div#sub-nav
    您正在浏览关于
    = h params[:term]
    的帖子
  - content_for :keywords, params[:term]
-if @group
  = render "groups/group_nav" unless defined?(@hide_group_nav)

=# render 'articles/hottest_nav'

- if @tag
  - content_for :keywords, @tag
  %p
    - Group.tagged_with(@tag).each do |g|
      = link_to g.name, g

- if @limit
  - content_for :title, sprintf("浏览%s中最热的帖子", t("articles.#{@limit}"))
  - content_for :keywords, t("articles.#{@limit}")
- else
  - if params[:order] == 'latest'
    - content_for :title, '最新'
    - content_for :keywords, '最新'

- if @articles.num_pages == 0
  - if @limit
    .empty-list
      = t("articles.#{@limit}")
      尚无帖子
      - if @next_limit
        = link_to sprintf("浏览%s中最热的帖子", t("articles.#{@next_limit}")), :limit => @next_limit
        或
        = link_to "发表自己的帖子", :controller => 'articles', :action => 'new'
      - else
        目前尚无帖子
- else
  - content_for :keywords, ",第#{@articles.current_page}页"
  - append_page_to_title @articles
  .articles-list.hfeed
    = render(:partial => 'articles/article', :collection => @articles.reject{|a|a.top_post.nil?})
  = paginate @articles, :theme => 'twitter-bootstrap-3'
  - if @limit && @next_limit && @articles.num_pages == @articles.current_page && @articles.num_pages > 0
    .empty-list
      您已看完了
      = t("articles.#{@limit}")
      中最热的所有帖子，请继续
      = link_to sprintf("浏览%s中最热的帖子", t("articles.#{@next_limit}")), :limit => @next_limit

- if @user
  - content_for :sidebar do
    = render 'users/sidebar'
  - if @group
    - content_for :title, " - #{@user.login}在#{@group.name}小组发表的文章"
  -else
    - content_for :title, " - #{@user.login} 发表的文章"

- elsif @group
  - content_for :title, " - #{@group.name} 中的文章"
  - content_for :head do
    -# %link{:title=> "#{@group.name}中的近期文章", :type=>"application/rss+xml", :rel=>'alternative', :href=>feed_articles_path(@group)}/
  - content_for :sidebar do
    = render 'groups/sidebar'
- else
  - content_for :sidebar do
    = render 'application/sidebar'
