- content_for :title, "#{article_title} - #{@group.name}"

- group = @group || @article.group

- if @article
  - @comments = @article.comments
  - @list_view = true if logged_in? && current_user.has_read_article?(@article)  && params[:read].nil?
  = render( @article )
  - @list_view = false
  %br>
  上一篇:
  = @article.prev_in_group.nil? ? '无' : link_to(article_title(@article.prev_in_group), article_path(group, @article.prev_in_group))
  %br>
  下一篇:
  = @article.next_in_group.nil? ? '无' : link_to(article_title(@article.next_in_group), article_path(group, @article.next_in_group))
  %br>
  = '-------'
  %br>
  = render 'rewards_info'
  %br>
  = render( 'comments/index')

