- top_post = topic.try(:top_post)
%p.error=flash[:error]
- if top_post && top_post.errors
  = topic.top_post.errors[:base].each do |error|
    %p.error=error

- topic.created_at ||= Time.now if topic
#new_topic_form
  = simple_form_for(topic||:topic, :url => @group ? topics_path(@group) : {:controller => 'topics', :action => 'create'},:html=>{:multipart => true} ) do |f|
    - if @groups
      = f.input :group, :label => '小组', :as => :select, :collection => @groups, :include_blank => false, :prompt => '请选择一个小组', :html => {:style => 'width:600px'}

    = f.input :title, :label => '标题', :required => false, :hint => '标题可以省略'
    = f.input :picture, :as => :file, :label => '图片'
    = f.input :swf, :as => :file, :label => 'Flash' if logged_in? && current_user.is_admin?
    = f.input :video_page_link, :label => '视频地址', :as => :url, :required => false, :hint => '请贴视频页面的地址，目前只支持优酷，土豆以及音悦Tai', :input_html => {:value => params[:topic].try(:delete, :video_page_link) || ''  }
    = f.input :content, :as => :text, :label => '正文', :required => false
    =# f.input :created_at, :label => '时间', :as => :datetime, :default => Time.now if current_user.is_admin?
    = f.input :uncommentable, :label => '禁止评论', :as => :boolean, :default => false
    = f.input :anonymous, :label => '匿名发表', :as => :boolean

  -#= f.semantic_fields_for :top_post do |top_post|
  -#  = render :partial => 'posts/universal_form', :object => top_post
  = f.actions do
    = f.button :submit, :label => '发表', :button_html => {:disable_with => '...'}
