- group = @group || topic.group

%article[topic]
  - if topic.title?
    %h2.title
      - if !@group or @group != topic.group and @show_group
        = link_to group.name, topics_path(group), class: 'in-group'

      = link_to topic.title, topic_path(group, topic)
  .post-signature{:class => topic.anonymous ? '' : 'topic-owner'}><
    - unless topic.anonymous
      - user = topic.user
      - if user
        = link_to user, :class => 'user' do
          = image_tag user.avatar.thumb
          = user.name_or_login
    %span.user-action-time><
      %time.timeago.relativetime{datetime: topic.created_at.iso8601}=topic.created_at
    - if logged_in? && current_user.own_topic?(topic)
      =# link_to '删除', topic_path(group, topic, :_method => :delete)
    - if logged_in? && current_user == topic.group.owner && topic.status == 'pending'
      = link_to '通过', publish_topic_path(group,topic)
      = link_to '移出', move_out_topic_path(group,topic)

