%h1= @group ? @group.name : ''

%ul#hottest-nav-tabs.nav.nav-tabs{:role => "tablist"}
  - if params[:group_id] == 'all'
    %li{:class => ( action_name == 'recent_hot' && @limit.blank? && @group.blank? && 'active') }
      = link_to t('nav.recent_hot'), scoped_path(:order => '')
    %li{:class => (action_name == 'index' && @limit.blank? && 'active')}
      = link_to t('nav.latest'), scoped_path(:order => 'latest')
  - if @group
    %li{:class => (@limit == 'day' && 'active')}
      = link_to t('topics.day'), scoped_path(:order => 'hottest', :limit => 'day')
    %li{:class => (@limit == 'week' && 'active')}
      = link_to t('topics.week'), scoped_path(:order => 'hottest', :limit => 'week')
    %li{:class => (@limit == 'month' && 'active')}
      = link_to t('topics.month'), scoped_path(:order => 'hottest', :limit => 'month')
    %li{:class => (@limit == 'year' && 'active')}
      = link_to t('topics.year'), scoped_path(:order => 'hottest', :limit => 'year')
  - if current_user and @group and current_user.id == @group.owner_id
    %li{:class => current_page?(pending_group_topics_path(@group)) && 'active'}
      = link_to "待审核 ", pending_group_topics_path(@group)
