- top_post = @topic.try(:top_post)
%p.error=flash[:error]
- if top_post && top_post.errors
  - @topic.top_post.errors[:base].each do |error|
    %p.error=error
-# if @topic && @topic.top_post && @topic.top_post.errors
=# @topic.top_post.errors
- @topic.created_at ||= Time.now if @topic
#new_article_form
  = simple_form_for(@topic, url: @topic.new_record? ? (@group ? topics_path(@group) : {controller: 'topics', action: 'create'}) : [@group, @topic],html:{multipart: true} ) do |f|
    = f.input :status, as: :hidden if @topic.new_record? and logged_in? and (current_user.is_admin? or (@group && current_user.own_group?( @group)))
    - unless @group
      - groups = current_user.joined_groups
      = f.input :group, label: '小组', as: :select, collection: groups, include_blank: false, prompt: '请选择一个小组'
      - if groups.size == 0
        您还没加入任何小组，
        = link_to '赶紧去找一个找自己喜欢的吧', groups_path

    = f.input :title, label: '标题', required: false, hint: '标题可以省略',input_html: {value: params[:title] || @topic.title}
    = f.input :content, as: :text, label: '正文'
    = f.input :picture, :as => :file, :label => '图片附件'
    = f.input :uncommentable, label: '禁止评论', as: :boolean, default: false
    = f.input :anonymous, as: :boolean, label: '匿名发表（花费20积分）' if logged_in?
    -# = f.simple_fields_for :attachments, id: :picture_attachment_fields do |attachment_form|
    -#   = attachment_form.input :type, as: :hidden, value: 'Picture'
    -#   = attachment_form.input :picture, as: :file
    - if logged_in?
      - sina = current_user.user_tokens.sina
      - if sina.present?
        - if sina.expired?
          = link_to '您的微博登录信息已过期，请刷新', '/syncs/sina/new'
        - else
          = f.input :sync_to_sina, as: :boolean, label: '同步到新浪微博', input_html: {checked: true}
      - else
        = link_to '绑定新浪微博后同步发送', '/syncs/sina/new'
    = f.button :submit, @topic.new_record? ? '发布' : '修改', button_html: {data:{disable_with: '...'}, class: 'btn btn-primary'}
- content_for :javascripts do
  :javascript
    $(function(){
      $('#topic_group_id').select2({width: '300px'})
    })
