- topic = table_row
%tr[topic]

  %td
    = link_to topic_title(topic), topic_path(topic.group, topic)
  %td
    = link_to topic.group.name, topic.group
  %td
    = link_to topic.user.name_or_login, topic.user
  %td
    = topic.posts.size - 1
  %td
    = topic.created_at
