-# coding: utf-8
- id=topic.id
- top_post = topic.top_post
- group = @group || topic.group
- group_id = topic.group_id

%topic.cf.hentry[topic]
  - if top_post
    %div[topic.top_post]
      %h2.entry-title= link_to topic_title(topic), [group, topic], :rel => 'bookmark'
      .entry-content
        - if topic.top_post && topic.top_post.is_a?(Picture)
          = link_to [group, topic] do
            = image_tag topic.top_post.picture.thumb.url
      %ul.meta.cf
        -#
          - if logged_in?
            %li.subscribe-button
              - if current_user.has_subscribed?(topic)
                = link_to unsubscribe_topic_path(group, topic), :class => 'unsubscribe' do
                  = typicon('eye')
                  = t('topics.unsubscribe')
              - else
                = link_to subscribe_topic_path(group, topic), :class => 'subscribe' do
                  = typicon('eye-outline')
                  = t('topics.subscribe')

        %li.comment-status
          - if topic.comment_status == 'closed'
            %span.comment_head
              禁止评论
          - else
            %a{:class=>"comments #{@list_view? "list_view" :  ""}",
              :href=> group_topic_path(topic.group, topic, :anchor => "comments_#{topic.id}"),
              :id=>"c-#{topic.id}"}
              = typicon 'messages'
              = topic.comments.size > 0 ? "#{topic.comments.size}条评论" : "暂无评论"
        %li.post-signature
          .user-info
            - unless topic.anonymous
              - user = topic.user
              - if user
                .user-avatar= image_tag user.avatar.url("thumb"), :alt => "#{user.name_or_login}", :class => 'avatar'
                .user-details
                  = link_to user.name_or_login, user, :title => "@#{user.login}",:class => 'user', :data => {:login => user.login} #user_detail_for(user)

            .user-action-time
              - if top_post and top_post.is_a?(Repost)
                转发于
              - else
                发布于
              = link_to group.name, group_topics_path(group),:data => {:alias => group.alias},:class => 'group'
              = link_to [group,topic], :rel => 'permalink' do
                %time.relativetime{:datetime => topic.created_at, :title => topic.created_at.to_s}= time_ago_in_words(topic.created_at)
  - if defined?(comments) and not comments.blank?
    - @comments = comments
    = render 'comments/index'
