- content_for :title, "博聆bling0"
- if @items.num_pages == 0
  目前尚无帖子
- else
  = render(topics.reject{|a| a.nil? || a.top_post.nil?})

  = br
  = paginate @items
  - if @items.num_pages == @items.current_page && @items.num_pages > 0
    您已看完了
    = t("topics.#{@limit}")
    中最热的所有帖子，请继续
    = link_to sprintf("浏览%s中最热的帖子", t("topics.#{@next_limit}")), :limit => @next_limit
