- content_for :title, "#{topic_title} - #{@group.name}"

%article[@topic]
  %h2.entry-title= link_to topic_title, [@group, @topic]
-if @topic
  %ul.posts
    = render @posts
  - unless @topic.closed?
    %div#post-form.reply-form
      = render 'posts/form'
  - else
    禁止评论
-else
  = render @posts
  = paginate @posts