- content_for :title, "#{topic_title} - #{@group.name}"

- group = @group || topic.group

- if topic
  - @comments = topic.comments
  - @list_view = true if logged_in? && current_user.has_read_topic?(topic)  && params[:read].nil?
  = render( topic )
  - @list_view = false
  %br>
  上一篇:
  = topic.prev_in_group.nil? ? '无' : link_to(topic_title(topic.prev_in_group), topic_path(group, topic.prev_in_group))
  %br>
  下一篇:
  = topic.next_in_group.nil? ? '无' : link_to(topic_title(topic.next_in_group), topic_path(group, topic.next_in_group))
  %br>
  = '-------'
  %br>
  = render 'rewards_info'
  %br>
  = render( 'comments/index')

