-if params[:invite]
  #invite-info
    -user = User.wrap(params[:invite])
    -if user
      =image_tag(user.avatar(:small))
      =link_to user.name_or_login,user_path(user),:target => "_blank"
      邀请您注册博聆网
    -if params[:group]
      -group = Group.wrap(params[:group])
      -if group
        并加入小组：
        =link_to group.name,group_path(group),:target => "_blank"
#flash_messages
  =flash[:error]
= form_for @user do |f|
  = hidden_field_tag :group ,params[:group]
  = hidden_field_tag :invite ,params[:invite]
  = f.input :login, :label => '用户名', :hint =>'用户名是您在网站上<strong>公开的</strong>唯一ID，用来将您和其他用户区分。只能使用英文字母、数字、下划线和减号，3到16个字符之间，请勿使用QQ号或手机号'.html_safe, :required => true,:input_html => { :class => 'need_verify',:check_area=>"login"}
  = f.input :name, :label => '昵称', :hint => '昵称是您想展示给网友的名字。名字中不可加入@、&amp;、‘、&lt;、或&gt;符号，不可在开头和结尾使用空格或缩格，最多10个字符', :required => false
  = f.input :email, :label => '电子邮箱', :hint => '仅用来与您联系, 绝不公开', :required => true,:input_html => { :class => 'need_verify',:check_area=>"email"}
  = f.input :password, :label => '密码', :required => true
  = f.input :password_confirmation, :label => '重复密码', :required => true
  =# show_simple_captcha
  = f.actions do
    = f.action :submit, :label => '注册', :disable_with => "正在注册..."

- content_for :javascripts do
  :javascript
  $(window).load(function(){
      $('.need_verify').change(function(){
      var myself = $(this);
      myself.next(".inline-errors").remove();
          $.ajax({
              type: 'POST',
              url: 'users/check',
              data: {
                  "check_area": myself.val(),
                  "check_name": myself.attr("check_area")
                  },
              success: function(data){
                  if (data.error_message){
                      $("<p class='inline-errors'>"+data.error_message+"</p>").insertAfter(myself);
                  }
              },
              dataType: "json"
          });
      });
  });
