-# coding: utf-8
- f = omni_form
- p = topic.top_post
= f.inputs do
  = f.input :content, :as => :text
- if topic and topic.new_record? or (topic and topic.top_post and topic.top_post.new_record?)
  :ruby
    types = ['Post', 'Picture', 'Flash', 'ExternalVideo', 'Poll']
    co = ActiveSupport::OrderedHash.new
    types.each do  |i|
      co[t(i, :scope => 'posts.types')] = i
    end

  = f.input :type, :as => :radio, :collection => co
  = render_post_form(f, p, 'picture')
  = render_post_form(f, p, 'flash')
  = render_post_form(f, p, 'external_video')
  = render_post_form(f, p, 'poll')
- else
  = f.input :type, :as => :radio, :collection => {t(p.class.name, :scope => 'posts.types') => p.class.name}
  = render_post_form(f, p)

