%li[post]{:class => [cycle('even', 'odd'), is_mine_class(post), read_status_class(post)]}
  - if post.status == 'deleted'
    已被删除
  - else
    = image_tag post.user.avatar.thumb.url, class: 'ui-li-icon avatar'
    %span.author
      - if post.anonymous
        匿名人士
      - else
        = link_to post.user.name, user_path(post.user) if post.user

    - s = post.score.to_i
    - if s != 0
      %span.score{:class => s > 0 ? 'pos' : 'neg'}= s > 0 ? "+#{s}" : s
    %time.timeago.time{datetime: post.created_at.iso8601}= post.created_at
    = link_to '回复', new_group_topic_post_path(post.group||post.topic.group,post.topic, :parent_id=>post.floor), data: {rel: 'dialog'}, class: "reply"
    .body
      - plain_text = post.content.to_s
      - plain_text_size = plain_text.mb_chars.size
      - if post.picture?
        - dim = post.dimensions['original'] || [0,0]
        = link_to image_tag(post.picture.small), post.picture.large.url, class: 'picture', data: {width: dim[0].to_i, height: dim[1].to_i}, title: post.topic.topic_title

      - if action_name == 'index' && plain_text_size > 500
        = plain_text.mb_chars[0, 150]
        = link_to "(剩余#{plain_text_size-150}字)", topic_path(post.group||post.topic.group, post.topic,:read=>"full"), :class => 'more'
      - else
        = post_content post
