%h1 Listing story_comments

%table
  %thead
    %tr
      %th Story
      %th Author
      %th Content
      %th
      %th
      %th

  %tbody
    - @story_comments.each do |story_comment|
      %tr
        %td= story_comment.story
        %td= story_comment.author
        %td= story_comment.content
        %td= link_to 'Show', story_comment
        %td= link_to 'Edit', edit_story_comment_path(story_comment)
        %td= link_to 'Destroy', story_comment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Story comment', new_story_comment_path
