%table
	- @items.each do |item|
		%tr[item]
			- if item.topic
				%td
					= link_to item.topic.group.name, item.topic.group
				%td
					= link_to item.topic_id, topic_path(item.topic.group, item.topic)
				%td
					=link_to topic_title(item.topic), [:edit, :admin, item.topic]
				%td
					= link_to [:admin, item.topic.user] do
						= item.topic.user.login
						(
						= item.topic.user.name
						)
			%td
				=item.score
			%td
				= link_to 'edit', [:edit, :admin, item]
			%td
				= link_to 'remove', [:admin, item], :method => :delete, :remote => true, :data => {:confirm => 'Are you sure to remove?'}

= paginate @items