=link_to group.name, group, :class => 'channel-name'
%div[group]
  %h3=link_to group.name, group
  .detail
    = link_to image_tag(group.icon(:thumb), :alt => group.name), group, :class => 'icon'
    .description
      = h group.description
    .meta
      .owner
        - if group.owner
          = link_to group.owner do
            = group.owner.name_or_login
      .status
        = render 'join_button', group: group

        - cache [group, 'status'], :expires_in => 1.hour do
          = t('groups.topics')
          = group.public_articles.size
          |
          = t('groups.members')
          = group.memberships.size
