%h2{:style=>"margin-top: 10px; margin-left: 20px; margin-bottom: 10px;"}
  = "编辑#{@group.name}小组的说明页,这里相当于小组的一个公告板，您可以放您想对小组成员说的话，可以放小组qq群的号码，可以放几个友情小组的链接，甚至放和小组有关的广告链接都行"

= form_tag editinfo_group_path(@group) do
  = text_area_tag :content, @page.content, :cols => 60, :rows=> 20
  = submit_tag

= link_to '察看', @group

- content_for :javascripts do
  = javascript_include_tag 'http://js.nicedit.com/nicEdit-latest.js'

  :javascript
    bkLib.onDomLoaded(nicEditors.allTextAreas);
