-if params[:invite]
  #invite-info
    -user = User.wrap(params[:invite])
    -if user
      =image_tag(user.avatar(:small))
      =link_to user.name_or_login,user_path(user),:target => "_blank"
      邀请您注册博聆网
    -if params[:group]
      -group = Group.wrap(params[:group])
      -if group
        并加入小组：
        =link_to group.name,group_path(group),:target => "_blank"
#flash_messages
  =flash[:error]
.row
  .col-lg-8.col-md-8.col-md-offset-2.col-lg-offset-2
    = simple_form_for @user do |f|
      = hidden_field_tag :group ,params[:group]
      = hidden_field_tag :invite ,params[:invite]
      = f.input :login, :required => true
      = f.input :name, :required => false
      = f.input :email, :required => true
      = f.input :password, :required => true
      = f.input :password_confirmation, :required => true
      =# show_simple_captcha
      = f.button :submit, value: '注册', :disable_with => "正在注册..."

- content_for :javascripts do
  :javascript
  $(window).load(function(){
      $('.need_verify').change(function(){
      var myself = $(this);
      myself.next(".inline-errors").remove();
          $.ajax({
              type: 'POST',
              url: 'users/check',
              data: {
                  "check_area": myself.val(),
                  "check_name": myself.attr("check_area")
                  },
              success: function(data){
                  if (data.error_message){
                      $("<p class='inline-errors'>"+data.error_message+"</p>").insertAfter(myself);
                  }
              },
              dataType: "json"
          });
      });
  });
