-# coding: utf-8
- id=topic.id
- top_post = topic.top_post
- group = @group || topic.group
- group_id = topic.group_id
- fullurl = group_topic_url(topic.group, topic)
- if top_post
  - unless topic.anonymous
    - user = topic.user
    - if user
      - if user.name?
        = link_to user.name, user, :title => "@#{user.login}", :class => 'user'
      - else
        = link_to user.login, user, :title => "@#{user.login}", :class => 'user'
    发布于
    = link_to topic.group.name, topics_url(topic.group)
    = topic.created_at
  .content= render_posts topic.top_post
  %hr/
  %p
    - if topic.comment_status == 'closed'
      禁止评论
    - else
      %a{:href=>group_topic_url(topic.group, topic,
        :anchor => "comments_#{topic.id}"),
        :id=>"c-#{topic.id}"}= topic.posts.size > 1 ? "#{topic.posts.size-1}条评论" : "暂无评论"
    |
    本文链接：
    = link_to h(fullurl), fullurl
欢迎访问
%a(href='http://www.bling0.com') 博聆Bling
分享您的兴趣
手机请访问
%a(href='http://m.bling0.com') m.bling0.com
纯文字版
%a(href='http://wap.bling0.com') wap.bling0.com

