- group = @group || article.group
- post = article.top_post
%article[article]{:class => article.class_names}
  - if article.title?
    %h2.title= link_to article.title, article_path(group, article)
  .content= render_posts post
  .post-signature{:class => article.anonymous ? '' : 'topic-owner'}><
    - unless article.anonymous
      - user = article.user
      - if user
        - if user.name?
          = link_to user.name, user, :class => 'user'
        - else
          = link_to user.login, user, :class => 'user'
    %span.user-action-time><
      - if !@group or @group != article.group
        发布于
        = link_to group.name, articles_path(group) if @show_group
      %span.relativetime><= time_ago_in_words(article.created_at)
    - if logged_in? && current_user.own_article?(article)
      =# link_to '删除', article_path(group, article, :_method => :delete)
    - if logged_in? && current_user == article.group.owner && article.status == 'pending'
      = link_to '通过', publish_article_path(group,article)
      = link_to '移出', move_out_article_path(group,article)
  .meta.ui-grid-b[post]
    = render 'posts/votecell', post: post if post
    .ui-block-c
      - if article.comment_status == 'closed'
        = link_to article_path(group, article), data: {role: 'button', mini: true} , class: 'ui-disabled' do
          = fa_icon 'comments'
          禁止评论
      - else
        = link_to article_path(group, article), data: {role: 'button', mini: true, transition: 'slide', shadow: 'false'}, class: current_page?([group, article]) ? 'ui-disabled' : '' do
          = fa_icon 'comments'
          = article.posts.size - 1
