= jqm_header do
  - if @group
    = jqm_back_link_to @group, '返回'
    %h1
      = @group.name if @group
  - else
    = jqm_menu_link
    %h1
      - if @limit
        = sprintf("浏览%s中最热的帖子", t("articles.#{@limit}"))
      - else
        - if params[:order] == 'latest'
          = '最新'
  - if @group
    = link_to '发表文章', [:new, @group, :article], data: {rel: 'dialog', icon: 'plus', iconpos: 'notext'}
  - else
    = link_to '发表文章', '/groups/all/articles/new', data: {rel: 'dialog', icon: 'plus', iconpos: 'notext'}
  =# link_to '发表', new_article_path(@group), 'data-icon' => 'plus' if @group
- if params[:order] == 'latest'
  - content_for :title, '最新'
%div(data-role="content")
  - if @limit
    - content_for :title, sprintf("浏览%s中最热的帖子", t("articles.#{@limit}"))
  - if @articles.num_pages == 0
    - if @limit
      = t("articles.#{@limit}")
      尚无帖子
      - if @next_limit
        = link_to sprintf("浏览%s中最热的帖子", t("articles.#{@next_limit}")), :limit => @next_limit
        或
      = link_to "发表自己的帖子", :action => :new
    - else
      目前尚无帖子
  - else
    = render(@articles.reject{|a|a.top_post.nil?})
    = paginate @articles

    - if @limit && @next_limit && @articles.num_pages == @articles.current_page && @articles.num_pages > 0
      您已看完了
      = t("articles.#{@limit}")
      中最热的所有帖子，请继续
      = link_to sprintf("浏览%s中最热的帖子", t("articles.#{@next_limit}")), :limit => @next_limit

- if @user
  - content_for :sidebar do
    = render 'users/sidebar'
  - content_for :title, "#{@user.login} 发表的文章"
