= jqm_header do
  = jqm_menu_link
  %h1 热点
  - if @group
    = link_to '发表文章', [:new, @group, :topic], data: {rel: 'dialog', icon: 'plus', iconpos: 'notext'}
  - else
    = link_to '发表文章', '/groups/all/topics/new', data: {rel: 'dialog', icon: 'plus', iconpos: 'notext'}

%div(data-role='content')
  - if @items.num_pages == 0
    目前尚无帖子
  - else
    = render(topics.reject{|a| a.nil? || a.top_post.nil? })
    = paginate @items

    - if @items.num_pages == @items.current_page && @items.num_pages > 0
      您已看完了

