- if params[:term]
  %div#sub-nav
    您正在浏览关于
    = h params[:term]
    的帖子
-if @group
  = render "groups/group_nav"
  -content_for :stylesheets do
    = stylesheet_link_tag "/stylesheets/#{@group.try(:preferred_css)}"
- content_for :stylesheets do
  = stylesheet_link_tag 'dist/drawingboard'
- content_for :javascripts do
  = javascript_include_tag 'dist/drawingboard'
  :javascript
    $(function(){
      var defaultBoard = new DrawingBoard.Board('drawing_board')
      $('#picture_submit').click(function(){
        var fd = new FormData();
        $(this).prop('disabled', true);
        fd.append('article[title]', $('#picture_title').val());
        defaultBoard.canvas.toBlob(function(data){
          fd.append('article[picture]', data, 'blob.png');
          $.ajax({
            url: '#{articles_path(@group)}',
            data: fd,
            processData: false,
            contentType: false,
            type: 'POST',
          }).done(function(data){
            window.location.href = window.location.href;
          }).always(function(){
            $('#picture_submit').prop('disabled', false);
          })
        })
      })
    })
%div(style="margin:auto; width:640px")
  #drawing_board(style="width:640px;height:480px")
  %label
    标题（可选）
    %input(type="text" id="picture_title")
  %button#picture_submit
    保存
= render 'articles/hottest_nav'



- if @tag
  %p
    - Group.tagged_with(@tag).each do |g|
      = link_to g.name, g

- if @limit
  - content_for :title, sprintf("浏览%s中最热的帖子", t("articles.#{@limit}"))
- if @articles.num_pages == 0
  - if @limit
    .empty-list
      = t("articles.#{@limit}")
      尚无帖子
      - if @next_limit
        = link_to sprintf("浏览%s中最热的帖子", t("articles.#{@next_limit}")), :limit => @next_limit
        或
        = link_to "发表自己的帖子", :action => :new
      - else
        目前尚无帖子
- else
  .articles-list.hfeed
    = render(:partial => "/articles/article",:collection=>@articles.reject{|a|a.top_post.nil?})
  = paginate @articles
  - if @limit && @next_limit && @articles.num_pages == @articles.current_page && @articles.num_pages > 0
    .empty-list
      您已看完了
      = t("articles.#{@limit}")
      中最热的所有帖子，请继续
      = link_to sprintf("浏览%s中最热的帖子", t("articles.#{@next_limit}")), :limit => @next_limit

- if @user
  - content_for :sidebar do
    = render :partial => 'users/sidebar'
  - content_for :title, "#{@user.login} 发表的文章"

- elsif @group
  - content_for :title, "#{@group.name} 中的文章"
  - content_for :head do
    %link{:title=> "#{@group.name}中的近期文章", :type=>"application/rss+xml", :rel=>'alternative', :href=>feed_articles_path(@group)}/
  - content_for :sidebar do
    = render :partial => 'groups/sidebar'
- else
  - content_for :sidebar do
    = render :partial => 'application/sidebar'
