- cache 'recent_hot', :expires_in => 1.hour do
  #recent_hot
    %h2 当前热点
    -hottest_artices = Topic.where(:group_id.nin => [2, 97, -1], :created_at.gte => 1.day.ago).before.public_topics.hottest.limit(5)
    - (hottest_artices || []).each do |topic|
      -top_post = topic.top_post
      -group = topic.group
      -next if top_post.blank?
      %topic.cf{:class => [(top_post and  top_post.score > 0 ? 'pos' : (top_post.score < 0 ? 'neg' : 'zero')) ] }
        - unless topic.title.blank?
          %h4.title= link_to topic.title, topic_path(group, topic), :rel => 'permalink bookmark'
        - else
          %h4.title= link_to truncate(strip_tags(top_post.content),:length=>15), topic_path(group, topic), :rel => 'permalink bookmark'
        %p
          %span.score
            %strong= topic.score
          %span.author= link_to topic.user.name_or_login, topic.user,:data => {:login => topic.user.login},:class=>"user" if topic.user
          %span.group= link_to topic.group.name, group
