- id=article.id
- top_post = article.top_post
- group = @group || article.group
- group_id = article.group_id
- if article.title?
  %h2.entry-title
    = link_to article.title, article_path(group, article), :rel => 'bookmark'
- voted = logged_in? ? current_user.has_rated?(top_post).to_i  : 0
.cf.hentry[article]{:class => article.class_names}
  %table
    %tr
      %td.votecell
        .vote{:data => {:post_id => top_post.try(:id)}}
          %a.vote-up-off{:title=>'这篇文章很有价值，顶起让更多人看到', :class => voted > 0 && 'vote-up-on'}
          %span.vote-count-post=top_post.try(:score)
          %a.vote-down-off{:title=>'这篇文章价值太小，不建议其他人看到', :class => voted < 0 && 'vote-down-on'}
      %td.postcell
        .post-text
          = render_posts article.top_post


        %ul.meta.cf
          - if logged_in?
            %li.subscribe-button
              - if current_user.has_subscribed?(article)
                = link_to t('articles.unsubscribe'), unsubscribe_article_path(group, article), :class => 'unsubscribe'
              - else
                = link_to t('articles.subscribe'), subscribe_article_path(group, article), :class => 'subscribe'

          %li.comment-status
            - if article.comment_status == 'closed'
              %span.comment_head
                禁止评论
            - else
              %a{:class=>"comments #{@list_view? "list_view" :  ""}",
                :href=>group_article_path(article.group, article,
                :anchor => "comments_#{article.id}"),
                :id=>"c-#{article.id}"}= article.comments.size > 0 ? "#{article.comments.size}条评论" : "暂无评论"
          - if logged_in?
            %li.repost-button
              = link_to repost_form_path(:post_id => top_post.try(:id)) do
                = t('articles.repost')
                = "(#{article.top_post.reposts.size})" if article.top_post.reposts.size > 0
          - if logged_in? && (current_user.own_group?(group) || current_user.own_article?(article))
            %li.admin
              = link_to '删除', article_path(group, article), :method => :delete, :remote => true, :confirm => '确定要删除这篇帖子吗?'
              - if article.status == 'pending'
                = link_to '通过', publish_article_path(group,article),:class=>"publish-article"
                = link_to '移出', move_out_article_path(group,article),:class=>"move-out-article"
              = link_to '修改', edit_article_path(group, article) if current_user.own_article?(article)
          %li.post-signature{:class => article.anonymous ? article.user.class_names : ''}
            .user-info
              - unless article.anonymous
                - user = article.user
                - if user
                  .user-avatar= image_tag user.avatar.url("thumb"), :alt => "#{user.name_or_login}", :class => 'avatar'
                  .user-details
                    = link_to user.name_or_login, user, :title => "@#{user.login}",:class => 'user', :data => {:login => user.login} #user_detail_for(user)

              .user-action-time
                - if top_post and top_post.is_a?(Repost)
                  转发于
                - else
                  发布于
                = link_to group.name, group_articles_path(group),:data => {:alias => group.alias},:class => 'group'
                %time.relativetime{:datetime => article.created_at, :title => article.created_at.to_s}= time_ago_in_words(article.created_at)
