.subheader
  %h1= @group ? @group.name : '全部文章'
  #tabs
    = link_to t('nav.recent_hot'), scoped_path(:order => ''), :class => (action_name == 'recent_hot' && @limit.blank? && @group.blank? && 'youarehere') if params[:group_id] == 'all'
    = link_to t('nav.latest_comment'), scoped_path(:order => 'latest_comment'), :class => (@order == 'latest_comment' && 'youarehere')
    = link_to t('nav.latest'), scoped_path(:order => 'latest'), :class => (action_name == 'index' && @limit.blank? && @order.nil? && 'youarehere')
    = link_to t('articles.day'), scoped_path(:order => 'hottest', :limit => 'day'), :class => (@limit == 'day' && 'youarehere')
    = link_to t('articles.week'), scoped_path(:order => 'hottest', :limit => 'week'), :class => (@limit == 'week' && 'youarehere')
    = link_to t('articles.month'), scoped_path(:order => 'hottest', :limit => 'month'), :class => (@limit == 'month' && 'youarehere')
    = link_to t('articles.year'), scoped_path(:order => 'hottest', :limit => 'year'), :class => (@limit == 'year' && 'youarehere')
    - if current_user and @group and current_user.id == @group.owner_id
      = link_to "待审核 ", pending_group_articles_path(@group), :class => current_page?(pending_group_articles_path(@group)) && 'youarehere'
