- content = picture.content || ''
- if picture.picture?
  - if @list_view
    = link_to image_tag(picture.picture.longsmall.url, :alt => content.mb_chars[0,50], :style => picture.dim_style_size(:longsmall)),  |
              article_path(@group, picture.article), |
              :id => "picture-#{picture.id}",  |
              :title => (picture.article.title || content.mb_chars[0,10])
  - else
    - if picture.picture.content_type =~ /gif/i
      = image_tag(picture.picture.original.url, :alt => (picture.article.title || content.mb_chars[0,10]))
    - else
      = link_to image_tag(picture.picture.medium.url, :alt => content.mb_chars[0,50]),  |
                picture.picture.large.url, |
                :class => 'picture',  |
                :id => "picture-#{picture.id}",  |
                :title => (picture.article.title || content.mb_chars[0,10])
      =# link_to picture.is_original? ? '给这张图片配上可爱的台词' : '我配的台词更好',draw_picture_path(picture) %>
      = render :partial => 'posts/post', :object => picture
