%form#recommend_groups_form(method='post')
  - @groups.each do |group|
    .name= h group.name
    .description= h group.description
    .stats
      %ul
        %li
          %span.term 成员
          %span.value= group.members.size
        %li
          %span.term 主题
          %span.value= group.articles.size
        %li
          %span.term 回复
          %span.value= group.posts.size
    %label><
      加入
      %input{:name=>"group_ids[]", :type=>"checkbox", :value=>"#{group.id}", :checked =>'checked'}><
  %input(type="submit" value="加入小组")
  =link_to '跳过>>', :controller => :register, :action => 'complete'