- content_for :stylesheets do
  = stylesheet_link_tag current_theme_stylesheet_path('pinterest')

- content_for :javascripts do
  = javascript_include_tag '/javascripts/jquery.isotope.min.js'
  :javascript
    $(document).ready(function(){
      $('.articles-list').isotope({itemSelector: '.article'})
    })

- content_for :main do
  #main{ :role => 'main' }
    #content.cf= yield
    #sidebar.cf= render 'sidebar'
= render :template => 'layouts/onecolumn'
