- f = comment.floor || (comment_counter + 1)
- user = comment.user
- anon = comment.anonymous? or user.deleted?
/ = comment.floor
%li[comment]{:class => comment.class_names, :data => {:comment_id => comment.id, :date => comment.created_at.strftime('%Y-%m-%d %H:%M:%S'), :floor => f}}
  - if comment.status == 'deleted'
    该评论已被删除
  - else
    = image_tag anon ? '/images/anonymous.png' : user.avatar.url("thumb"), :alt => anon || user.login, :class => 'avatar'
    %a.reply{:href => "javascript:replyComment(#{comment.id},#{comment.article_id},#{f})"}
      回复
    %a.report{:href => "javascript:showReport(#{comment.id})", :title => ""}
      举报
    - if anon
      %span.anonymous 匿名人士
    - else
      %span.author.vcard
        = link_to h(user.name_or_login), user, :class => [user.role_names, 'url nickname'], :target => '_blank', :title => "@#{user.login}"
    %sup.floor= f
    %sup.date= comment.created_at.strftime('%Y-%m-%d %H:%M:%S')
    .body= render_posts comment
