= simple_form_for([@guestbook, @story]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :content
    - if logged_in?
      = f.input :anonymous
    - else
      = f.input :email

  .form-actions
    = f.button :submit
