- comments = story.comments.page(1)
%div[story.to_model]
  .author= story.author_link
  .published_at= link_to story.created_at, [story.guestbook, story]
  .content= simple_format story.content
  .like
    .likers
      - story.likers.each do |u|
        = link_to u.name_or_login, u, class: "user-#{u.login}"
    .total
      %span.count= story.likes.count
      人喜欢
    - if logged_in?
      .action
        - if story.likers.include?(current_user)
          = link_to '取消喜欢', [:unlike, story.guestbook, story], method: :post, remote: true
        - else
          = link_to '喜欢', [:like, story.guestbook, story], method: :post, remote: true

  .comments= render comments
  - if comments.total_pages > 1
    .load_more= link_to '加载更多...', guestbook_story_story_comments_path(story.guestbook, story, page: 2), remote: true
  .comment_form= render 'story_comments/form', story_comment: story.comments.new, guestbook: story.guestbook, story: story
