%div[story]
  .author= link_to story.author.name_or_login, story.author
  .published_at= story.created_at
  .content= simple_format story.content
  .comments= render story.comments
  .comment_form= render 'story_comments/form', story_comment: story.comments.new, guestbook: story.guestbook, story: story
