%h1 Listing stories

%table
  %thead
    %tr
      %th Guestbook
      %th Author
      %th Body
      %th
      %th
      %th

  %tbody
    - @stories.each do |story|
      %tr
        %td= story.guestbook
        %td= story.author
        %td= story.body
        %td= link_to 'Show', story
        %td= link_to 'Edit', edit_story_path(story)
        %td= link_to 'Destroy', story, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Story', new_story_path
