- @list_view = true
- @show_group = true

%ul.article-list
  = render topics
= paginate @items
/
  threshold:
  = Inbox.frontpage_threshold
  - @items.each do |item|
    = "#{article_title item.topic} #{item.score}"
