- @list_view = true
- @show_group = true

%ul.topic-list
  = render topics
= paginate @items
/
  threshold:
  = Inbox.frontpage_threshold
  - @items.each do |item|
    = "#{topic_title item.topic} #{item.score}"
