- content_for :title, "#{@year}-#{@month}"
- content_for :breadcrumbs do
  =  '/'
  = link_to_unless_current(@year, archive_path(:year => @year))
  =  '/'
  = @month

- if @first < @start_day
  - last_month = @start_day - 1
  = link_to '上个月', group_archive_path(@group, last_month.year, last_month.month)
- for i in @start_day..@end_day
  = link_to_unless i < @first || i > @last, i.day, archive_path(i)
- if @last > @end_day
  - next_month = @end_day + 1
  = link_to '下个月', group_archive_path(@group, next_month.year, next_month.month)
%p
  您正在浏览：
  %strong{:style => "color:#5BBA56"}>
    = @year
    年#{@month}月
  中发表的帖子
- if topics.size == 0
  本月没有文章
- else
  = paginate @topics
  = render(@topics)
  = paginate @topics