= content_for :title, @title_name || "声望记录"
-reputation_reasons= {"upvoted"=>"帖子被顶","article_deleted"=>"文章被删除","downvoting"=>"拍别人的帖子","downvoted"=>"帖子被拍"}
- if @group
  %h2
    距离升级还差
    = Reputation.num_for_next_lever(@user.reputation_in(@group).value)
    分
%h2
  声望记录
  =link_to "(关于声望的说明)","/"
  %br
- @reputation_logs.each do |reputation_log|
  = link_to "相关帖子 #{reputation_log.post_id}","/topics/#{reputation_log.post_id}"
  %br
  ="数值"
  = reputation_log.amount
  %br
  ="理由"
  = reputation_reasons[reputation_log.reason]
  %br
