-# coding: utf-8
= render_post_content  poll
- if logged_in? and poll.voted_by?(current_user)
  #poll-results
    %h3 投票结果
    %dl.graph
      - poll.questions.each_index do |i|
        %dt.bar-title
          =poll.questions[i]
        %dd.bar-container
          -a=(((poll.stats[i].to_i)*100/(poll.vote_count==0? 1 : poll.vote_count))).round rescue 'Error'
          %div{:class=>["bar","choice_#{i%10+1}"],:style => "width: #{a}%;"}
          %strong
            ="#{a}%"
    %p
      总投票人数:
      =poll.vote_count
- else
  #poll-container
    = form_tag group_article_comments_path(poll.group, poll.topic),:class=>"make_vote" do
      %input(type='hidden' name='comment[type]' value='Vote')
      %input(type='hidden' name='comment[parent_id]' value='0')
      - if poll.single?
        - poll.questions.each_index do |i|
          %p
            %label
              %input{:type => 'radio', :name => 'comment[choice]', :value => i}
              =h poll.questions[i]
      - if logged_in?
        %input{:type=>'submit', :value => '投票'}
