- plain_text = post.content.to_s
- plain_text_size = plain_text.mb_chars.size
- if @list_view && plain_text_size > 500
  = plain_text.mb_chars[0, 150]
  = link_to "(剩余#{plain_text_size-150}字)", topic_path(post.group||post.topic.group, post.topic,:read=>"full"), :class => 'more'
- else
  - if post.floor == 0
    = post_content post
  - else
    = h post.content
