= cache [@group, 'members_list'], :expires_in => 10.minutes do
  %h3
    = "#{@group.members.count}个小组成员"
    %span= link_to raw("查看全部成员 &raquo;"), group_users_path(@group)
  - owner = @group.owner
  %ul
    %li.owner{:class => owner.class_names}
      - name = owner.name_or_login
      - alt = "组长 #{name} (@#{owner.login})"
      = link_to image_tag(owner.avatar(:small), :size => '64x64', :alt => alt, :class => 'avatar'), owner, :title => alt,:data => {:login => owner.login},:class=>"user"
    - for u in  User.joins(:memberships).joins("LEFT  JOIN reputations ON users.id = reputations.user_id and (reputations.group_id = memberships.group_id )").select("users.* , memberships.role as membership_role,memberships.group_id as membership_group_id, reputations.value ").where("memberships.group_id = ? ",@group.id).order("reputations.value desc,id asc ").limit(28).uniq
      - alt = "#{u.name_or_login} (@#{u.login})"
      %li{:class => u.class_names}= link_to image_tag(u.avatar(:thumb), :alt => alt, :class => 'avatar'), u, :title => alt,:class=>"user",:data => {:login => u.login}
