- group = @group || topic.group
- post = topic.top_post
%div[topic]><
  - if topic.title?
    %h2.title><= link_to topic.title, topic_path(group, topic)
  .content><= render_posts post
  -# unless topic.tag_line.blank?
  -#  %p.tags= show_tags(topic, @current_tag)
  .post-signature{:class => topic.anonymous ? '' : 'topic-owner'}><
    - unless topic.anonymous
      - user = topic.user
      - if user
        - if user.name?
          = link_to user.name, user, :class => 'user'
        - else
          = link_to user.login, user, :class => 'user'
    %span.user-action-time><
      发布于
      = link_to group.name, group if @show_group
      %span.relativetime><= time_ago_in_words(topic.created_at)
    - if logged_in? && current_user.own_topic?(topic)
      =# link_to '删除', article_path(group, topic, :_method => :delete)
    - if logged_in? && current_user == topic.group.owner && topic.status == 'pending'
      = link_to '通过', publish_article_path(group,topic)
      = link_to '移出', move_out_article_path(group,topic)
  .meta><
    - if post
      = rating_link(post, :up)
      = rating_link(post, :dn)
    %span.comments_link><
      - if topic.comment_status == 'closed'
        禁止评论
      - else
        = link_to topic_path(group, topic, :anchor => "comments-list") do
          = image_tag(asset_path('comment_reply.png'), :alt => '评论')
          = topic.posts.size - 1
