- content_for :title, '发表文章'
- content_for :breadcrumbs do
  = '/'
  发表新文章
%p.error=flash[:error]

- @article ||= Article.new

- if @article && @article.top_post && @article.top_post.errors
  = @article.top_post.errors.each do |e|
    = e

- @article.created_at ||= Time.now if @article
= '发帖需审核'
= simple_form_for(@article, :url => @group ? articles_path(@group) : {:controller => 'articles', :action => 'create'},:html=>{:multipart => true} ) do |f|

  - unless @group
    - groups = current_user.publications(Group)
    = f.input :group, :label => '小组', :as => :select, :collection => groups, :include_blank => false, :prompt => '请选择一个小组'
    - if groups.size == 0
      您还没加入任何小组，
      = link_to '赶紧去找一个找自己喜欢的吧', groups_path

    = f.input :title, :label => '标题', :required => false, :hint => '标题可以省略'
    = f.input :picture, :as => :file, :label => '图片附件'
    -#= f.input :video_page_link, :label => '视频地址', :as => :url, :required => false, :hint => '请贴视频页面的地址，目前只支持优酷和土豆', :input_html => {:value => params[:article].try(:delete, :video_page_link) || ''  }
    = f.input :content, :label => '正文', :as => :text, :required => false
    =# f.input :created_at, :label => '时间', :as => :datetime, :default => Time.now if current_user.is_admin?
    -#= f.input :tag_line
    = f.input :uncommentable, :label => '禁止评论', :as => :boolean, :default => false
    = f.input :anonymous, :as => :boolean, :label => '匿名发表'

    =# f.input :source %>

  = f.button :submit, '添加', :button_html => {:disable_with => '...'}
