- if @post.has_repost?
  .breadcrumb
    %h2 该文章已经被转至以下小组
    %ul
      - @post.reposted_group_articles.each do |group, article|
        %li
          = link_to article.user.name_or_login, article.user
          转发至
          = link_to group.name, group
          = ':'
          = link_to article_title(article), [group, article]

#new_article_form
  =semantic_form_for @article, :url => repost_form_path(:post_id => @post.id) do |f|
    = f.inputs do
      = f.input :title,:label => '标题'
      - groups = current_user.publications(Group)
      = f.input :group, :label => '小组', :as => :select, :collection => groups, :include_blank => false, :prompt => '请选择一个小组'
      - if groups.size == 0
        您还没加入任何小组，
        = link_to '赶紧去找一个找自己喜欢的吧', groups_path
    %div.original_post
      =render_post_with_parents @post
    = f.actions do
      = f.action :submit, :label => "发表",:button_html => {:disable_with => '...'}
