- if browser.mobile?
  %p
    手机版（适合UCWeb等浏览器）：
    %a(href='http://m.bling0.com') http://m.bling0.com
  %p
    智能机3G版（适合Mobile Safari、QQ浏览器）Beta：
    %a(href='http://j.bling0.com') http://j.bling0.com
  %p
    WML极速版（适合Old手机）
    %a(href='http://wap.bling0.com') http://wap.bling0.com
.navbar.navbar-default.navbar-inverse.navbar-fixed-top{'role' => 'navigation'}
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{'type' => 'button', "data-target" => "#bs-navbar", "data-toggle" => "collapse"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to "博聆", root_path, :class => 'navbar-brand brand', :id => 'logo'
    .nav-collapse.collapse#bs-navbar
      %ul.nav.navbar-nav
        %li
          = link_to "晚安", '/goodnight', :class => 'navbar-brand brand', :id => 'logo'
        %li
          = link_to '全部', '/all'
        - if @group and not @group.new_record?
          %li
            = link_to(@group.name, articles_path(@group))
          - if @article and not @article.new_record?
            - y,m,d = @article.created_at.year,@article.created_at.month,@article.created_at.day
            %li.date

              = link_to_unless_current(y, archive_path(:year => y))
            %li.date

              = link_to_unless_current(m, archive_path(:year => y, :month => m))
            %li.date

              = link_to_unless_current(d, archive_path(:year => y, :month => m, :day => d))
        = yield :breadcrumbs
        - if logged_in?
          - if @group
            %li= link_to '发表文章', [:new, @group, :article]
          - else
            %li= link_to '发表文章', '/groups/all/articles/new'

      %ul.nav.navbar-nav.navbar-right
        - unless logged_in?
          %li= link_to t('users.signup'), signup_path
          %li= link_to t('users.login'), login_path,:class=>"need-login"
        - else
          %li
            = link_to salaries_path, :id => 'salary', :class => 'salary' do
              = current_user.balance.credit
              - if current_user.salaries.unpaid.size > 0
                %sup{:title => "#{current_user.salaries.unpaid.size}项工资未领取"}
                  (
                  = current_user.salaries.unpaid.size
                  )

          %li.image= link_to image_tag(current_user.avatar.thumb.url, :size => '16x16'), edit_user_path(current_user)
          %li= link_to current_user.login, user_path(current_user)
          %li.messages
            = link_to inbox_messages_path do
              = typicon('mail')
              %sup.value
                - if current_user.unread_messages_count > 0
                  = current_user.unread_messages_count
          %li{:class => current_user.notifications.unread.count == 0 ? 'empty unread_notifications_count' : 'unread_notifications_count'}
            = link_to notifications_path do
              = typicon('volume')
              %sup.value= current_user.notifications.unread.count
          %li= link_to typicon('cog'), edit_user_path(current_user), title: '设置'
          %li= link_to typicon('power'), logout_path, title: t('users.logout')
