- content_for :breadcrumbs do
  = '/'
  注册
- content_for :title, '创建账号'
- from_sina = true if session[:client_name] && session[:token_key] && session[:token_secret]
#wrapper.cf
  #banner
    .reg.logo
      %a{:href => "/all"}
    .welcome
      %h2 欢迎加入博聆网
      - unless params[:invite].blank?
        - user = User.wrap(params[:invite])
        - if user
          .invite-area
            = image_tag(user.avatar(:small))
            = link_to user.name_or_login, user_path(user), :target => "_blank"
            邀请您注册博聆网
          - if params[:group]
            - group = Group.wrap(params[:group])
            - if group
              并加入小组：
              = link_to group.name, group_path(group), :target => "_blank"
    .introduction
      %p 这是一个有人情味的<strong>轻论坛</strong>社区。注册后您可以
      %ul
        %li 得到系统推送的您关注的小组中的新内容
        %li 影响所在小组的话题的排名
        %li 收藏喜欢的文章
        %li 和志同道合的网友分享您的发现

  #signup-area{:style=>"#{from_sina ? 'padding-top:0px;' : ''}"}
    #flash_messages
      = flash[:error]
    = simple_form_for @user, :url => {:controller => 'register', :action => 'create_account'} do |f|
      - if from_sina
        %li
          %label{:style=>"width:310px;"}
            如果您已经有了博聆网帐号，请直接
            = link_to "登录", login_path, :style=>"color:red;", :class=>"need-login"
      = hidden_field_tag :group, params[:group]
      = hidden_field_tag :invite, params[:invite]
      = f.input :name, :label => '昵称', :hint =>'您的个性名称，以后可以变更'.html_safe, :required => true,:input_html => { :class => 'need_verify',:check_area=>"name",:value => (session["my_name"]||@user.name)}
      -#= f.input :name, :label => '昵称', :hint => '昵称是您想展示给网友的名字。名字中不可加入@、&amp;、‘、&lt;、或&gt;符号，不可在开头和结尾使用空格或缩格，最多10个字符', :required => false
      = f.input :email, :label => '电子邮箱', :hint => '仅用来与您联系, 绝不公开', :required => true,:input_html => { :class => 'need_verify',:check_area=>"email"}
      = f.input :password, :label => '密码', :required => true
      = f.input :password_confirmation, :label => '重复密码', :required => true
      = show_simple_captcha
      - if from_sina
        %li
          %label
            关注博聆网
          = check_box_tag 'follow', "yes", true
        %li
          = text_area_tag('repost_text', "刚注册了@博聆网 貌似不错，独乐乐不如众乐乐，推荐了。 http://www.bling0.com/all/hottest ",:style=>"height: 61px; margin-left: 10px; margin-right: 10px; width: 369px;")
        %li
          %label
            推荐给好友
          = check_box_tag 'repost', "yes", true
      = f.actions do
        = f.action :submit, :label => '创建账号', :disable_with => "正在创建..."
