<% topic=archive %>
<div class="qiushi_body" title="<%= topic.created_at.strftime("%Y.%m.%d %H:%M") %>">
    <%= format_content topic, topic.group %>
    <% unless topic.tag_list.nil? or topic.tag_list.empty? %>
      <p class="tags" style="zoom:1"><%= render( "topics/tags", {:tag_list => topic.tag_list}) %></p>
    <% end %>
</div>
<div class="qiushi_counts <%="qiushi_counts_afterclick" if current_page?(topic_path(topic))%>" id="qiushi_counts_<%= topic.id %>">
  <div class="counts">
    <span class="space" style="zoom:1">|</span>
      <span class="space">|</span>

      <% if topic.comment_status == 'closed' %>
        <span class="comment_head">禁止评论</span>
      <% else %>
        <a href="<%=topic_path(topic)%>" class="comments" id="c-<%=topic.id%>">
          <%=topic.public_comments_count > 0 ? "<strong>#{topic.public_comments_count}</strong>条评论" : "暂无评论" %>
        </a>
      <% end %>
    </div>
    <div class="datetime"><a href="<%= topic_url(topic)%>" title="单独打开糗事#<%=topic.id%>">#<%=topic.id%></a></div>
  </div>
