-if @article
  %div[@article, :comments]
    .show-hide
      只看
      -unless @article.anonymous?
        =select("user", "login", ([["楼主",@article.user.login]] + (@comments.collect{|p|[p.user.name_or_login, p.user.login]})).uniq, { :include_blank => true })
      -else
        =select("user", "login", (@comments.collect {|p| [ p.user.name_or_login, p.user.login]}).uniq, { :include_blank => true })

      =link_to_function "展开全部","show_all(#{@article.id})"

    %ul.comments
      -if logged_in? && current_user.has_read_article?(@article).to_i > 0 && params[:read].nil?
        =link_to "已经折叠了#{current_user.has_read_article?(@article)}个已读评论",group_article_path(@article.group,@article,:read=>"full"),:class=>"show_readed manage_readed"
      = render :partial => 'my/comment', :collection => @comments
    - unless @article.closed?
      %div#comment-form.reply-form
        = render :partial => 'comments/form'
    - else
      禁止评论
-else
  = render :partial => 'my/comment', :collection => @comments
  =paginate @comments
