-if topic
  %div[topic, :comments]
    .show-hide
      只看
      -unless topic.anonymous?
        =select("user", "login", ([["楼主",topic.user.login]] + (@comments.collect{|p|[p.user.name_or_login, p.user.login]})).uniq, { :include_blank => true })
      -else
        =select("user", "login", (@comments.collect {|p| [ p.user.name_or_login, p.user.login]}).uniq, { :include_blank => true })

      =link_to_function "展开全部","show_all(#{topic.id})"

    %ul.comments
      -if logged_in? && current_user.has_read_topic?(topic).to_i > 0 && params[:read].nil?
        =link_to "已经折叠了#{current_user.has_read_topic?(topic)}个已读评论",group_topic_path(topic.group,topic,:read=>"full"),:class=>"show_readed manage_readed"
      = render :partial => 'my/comment', :collection => @comments
    - unless topic.closed?
      %div#comment-form.reply-form
        = render :partial => 'comments/form'
    - else
      禁止评论
-else
  = render :partial => 'my/comment', :collection => @comments
  =paginate @comments
