-if ['latest','inbox','liked','groups'].include?(controller.action_name)
  .notification-box.cf
  %ul
    = widget 'new_user_search'
    = widget 'new_recent_hot'
    = widget 'my_groups'
-else
  - if controller_name == 'my'
    .notification-box
  - today = Date.today
  - yesterday = today - 1
  .avatar= image_tag current_user.avatar(:medium),:alt=>"#{current_user.name_or_login}"
  %p= current_user.name
  %p= "(@#{current_user.login})"
  %p= "注册时间 ： #{current_user.created_at.strftime('%Y-%m-%d')}"
  - if current_user.badges.size > 0
    %p
      勋章：
      -current_user.badges.each do |badge|
        =link_to badge.title , badge_path(badge)
  %h2
    %p= link_to "编辑用户设置" ,edit_user_path(current_user)
    %p= link_to "我发表的文章" ,user_topics_path(current_user)
    %p= link_to "我关注的人(#{current_user.followers.count})", followers_user_path(current_user)
    %p= link_to "关注我的人(#{current_user.followings.count})", followings_user_path(current_user)
  %ul.badges
    - current_user.badges.each do |badge|
      %li= link_to image_tag(badge.icon.medium.url, :alt => badge.title), user_badges_path(current_user)
  %ul
    = widget 'user_search'
    = widget 'my_groups'
    = widget 'recent_hot'
