- content_for :title, '最新待读文章'

= render 'sub_nav'

-if topics.size == 0
  .recomment-groups
    您目前没有待读文章，
    = link_to "去小组导航看看吧", groups_path
    %br
    或者看看
    = link_to "今日热点", "/all/hottest"
  -#
    比较受欢迎的小组有：
    .groups-list
      .channel.cf
        .channel-groups
          = render Group.page(params[:page]).order("feature DESC , score DESC").limit(15)
-else
  .articles-list
    - @items.each do |item|
      - topic = @id2article[item.article_id]
      - next unless topic
      - @group = topic.group
      - @comments = nil
      - unless item.post_ids.blank?
        - @comments = topic.comments.find_all_by_id(item.post_ids)
      = render :partial => 'my/article', :object => topic, :locals => {:comments => @comments}
      /
        = item.score
        = item.read
  %a.more-item{:href=>"javascript:loadMoreItem();"}
    还有
    %span.value= @total_count - topics.size
    条
