!!! 5

-ie_html :class => 'no-js' do
  = render 'head'
  %body{ :lang => 'en', :class => [body_class_names, 'two-col'] }
    = render 'header'
    #container.container.cf
      #main.row{ :role => 'main' }
        #content.cf.col-xs-12.col-md-8= yield
    %a#gototop.fixed{:href=>"#top"}
      回顶部
    %footer#footer
      = render 'footer'
    = show_login
    = render 'facecontent'
    -# Javascript at the bottom for fast page loading
    = render 'javascripts'
