- content_for :main do
  #main.row{ :role => 'main' }
    #content.cf.col-xs-12.col-md-8= yield
    #sidebar.cf.col-xs-4.hidden-xs.hidden-sm= render 'sidebar'
- if @group
  -content_for :stylesheets do
    = stylesheet_link_tag "/stylesheets/#{@group.options[:css]}" if @group.options[:css]
    - if @group.options[:background]
      :css
        body{background: url(#{@group.options[:background]}) #{(@group.options[:background_style] || 'repeat') == 'repeat' ? 'repeat top left' : 'no-repeat 50% 0% fixed'};}

= render :template => 'layouts/onecolumn'
